h1.recipe {
font-family: helvetica;
font-weight: 400;
text-align: center;
}

td {
  text-align: right;
}

/*p5 ends here. Ruby scrapped most of the HTML/CSS code with a better template.*/

td.p4ing {
  text-align: justify;
}

th
{
  text-align: left;
}

th.column1 {
  text-align: center;
}

th.column2 {
  text-align: center;
}

h1.recipe {
text-align: center;
}

th.recipe {
  font-family: fantasy;
  text-decoration-color: blue
}

/*img {
   padding:1px;
   border:1px solid #021a40;
}*/

h3.recipelist {
  text-align: center;
}

td.p4dir {
  text-align: justify;
}

/*p4 ends here.*/
