h1 {
  font-weight:400;
  font-size: 75px;
  color: #000;
  text-align: center;
  font-family: "ITC Frankiln Gothic";
}

p {
  font-weight: lighter;
  font-size: 40px;
  color: #000;
  text-align: center;
  font-family: serif;
}

a {
  text-align: center;
  font-family: serif;
  display: block;
  color: #000;
}

#option1 {
  color: #000;
  text-align:center;
  font-family: helvetica;
  font-weight:400;
  font-size: 24px;
  /*Salmon Header Style*/
    background-color:#FFA07A;
    padding: 50px 60px;
    color: white;
    text-align: center;
    font-family: Helvetica;
    font-size: 65px;
}

#option2 {
  color: #000;
  text-align:center;
  font-family: helvetica;
  font-weight:400;
  font-size: 24px;
  /*Salmon Header Style*/
    background-color:#FFA07A;
    padding: 50px 60px;
    color: white;
    text-align: center;
    font-family: Helvetica;
    font-size: 65px
}

#search {
  font-size: 20px;
  color: #000;
  text-align: center;
  font-family:"";

}

input {
  text-align: center;
  font-family: Comic;
  font-size: 30px;
  color: #f00;
}

form {
  text-align: center;
}

.regForms {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black
}

.addressLines {
  line-style: none
}

/* Style the header */
.creater {
  background-color:#FFA07A;
  padding: 30px 40px;
  color: white;
  text-align: center;
  font-family: helvetica;
}

.food {
    font-size: 18px;
    text-align: center;
}

.popular {
  text-align: center;
  font-family: helvetica;
}

.potato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frecipe {
  font-family: helvetica;
}

.registration1 {
  font-family: helvetica;
}

.action {
  font-family: helvetica;
  
}
